[user]
	name = eLafo
	email = javierlafora@gmail.com
[github]
        user = eLafo
[merge]
        tool = meld
[core]
        autocrlf = false
        safecrlf = true
        editor = vim
	excludesfile = /home/elafo/.gitignore
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = "log --pretty=format:'%C(yellow)[%ad]%C(reset) %C(green)[%h]%C(reset) | %C(red)%s %C(bold red){{%an}}%C(reset) %C(blue)%d%C(reset)' --graph --date=short"
  type = cat-file -t
  dump = cat-file -p
  rmm = "!git co master && git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
  commiters = "shortlog -sn"
  w = "!git add . && git commit -m 'wip'"
  wp = "!git add . && git commit -m 'wip' && git push"
  local-branches = !git branch -vv | cut -c 3- | awk '$3 !~/\\[/ { print $1 }'
[color]
        ui = auto
[credential]
	helper = cache --timeout=3600
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
